html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-image: url("purple grid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    min-height: 100vh;

    /* allows scrolling */
    overflow-x: hidden;
    overflow-y: auto;
}

/* VIDEO */

video {
    width: 400px;
    display: block;
    margin: 0 auto;
}

/* TEXT */

h1 {
    color: rgb(28, 34, 200);
    font-size: 60px;
}

h2 {
    color: aliceblue;
    font-size: 40px;
    background-color: rgb(183, 201, 185);
}

p {
    color: rgb(244, 230, 40);
    font-size: large;
    font-weight: bold;
    background-color: rgb(3, 43, 12);
}

/* MAIN ZONE */

#main-zone {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.my-flex {
    display: flex;
}

/* IMAGES */

.main-img,
#cross {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.avoid-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* GLOW TITLE */

.glow-title {
    color: white;

    text-shadow:
        0 0 5px rgb(216, 112, 218),
        0 0 10px rgb(234, 208, 208),
        0 0 20px rgb(24, 83, 64),
        0 0 40px rgb(48, 131, 83);
}

/* BUTTONS */

button {
    display: block;
    margin: 10px 0;
}

#rules-button {
    font-size: 25px;
    padding: 12px 20px;
    background-color: #f77409;
    color: rgb(18, 18, 138);

    border: none;
    border-radius: 8px;
    cursor: pointer;

    margin-top: 100px;
    margin-bottom: 20px;
}

#rules-button:hover {
    background-color: #16f35c;
}

#avoid-button {
    font-size: 24px;
    margin-top: 15px;
    padding: 12px 20px;

    background-color: #c85ab6;
    color: rgb(29, 217, 60);

    border: none;
    border-radius: 8px;
}

#avoid-button:hover {
    background-color: #16f35c;
}

/* OUTPUT */

#output p {
    margin: 5px;
}

/* RULES BOX */

.rules-box {
    background-color: rgb(21, 1, 1);
    padding: 10px;
    margin-top: 10px;
    border: 5px solid #00ffcc;
}

.rule-item {
    color: #18edf8;
    font-weight: bold;
    padding: 5px 0;
}

.rules-box h3 {
    color: #00ff3c;
}

/* AVOID BOX */

.avoid-box {
    margin-top: 15px;
    padding: 10px;
    border: 2px solid #ff0033;
    background-color: black;
}

.avoid-box h3 {
    color: #ff0033;
}

/* IMAGE TEXT BOX */

.image-container {
    position: relative;
    display: inline-block;
}

.main-img {
    width: 300px;
}

.text-box {
    display: none;

    position: absolute;
    top: 50%;
    left: 55%;

    transform: translateX(-50%);

    background: white;
    color: black;

    padding: 12px 18px;
    border-radius: 20px;

    font-size: 20px;
    font-weight: bold;

    border: 3px solid black;

    min-width: 120px;
    text-align: center;
}

.text-box::after {
    content: "";

    position: absolute;
    top: -15px;
    left: 50%;

    transform: translateX(-50%);

    width: 0;
    height: 0;

    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid white;
}

/* COMPUTER IMAGE */

#computer {
    position: relative;
    left: 20%;
    margin-top: 40px;
}